* {
  box-sizing: border-box;
}

body {
  color:aliceblue;
  background-color:cadetblue;
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}
/* Assuming this is your existing CSS file */
.game-info ol {
  padding-left: 20px;
}

.game-info li {
  margin-bottom: 5px;
}

.game-info li button {
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: none;
  color:blue; 
}

.game-info li button:hover {
  text-decoration: underline;
}

.game-info li button.selected {
  font-weight: bold; /* Bold font for the selected move */
}


h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
